<!DOCTYPE html>
<html>
  <head>
    <title>MOCAP Animation</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.4.1.min.js"
    ></script>
    <script type="text/javascript">
      $(function () {
        $("#upload-file-btn").click(function () {
          var fileFakePath = document.getElementById("input_file").value;
          var allowedExtensions = /(\.csv)$/i;
          if (!allowedExtensions.exec(fileFakePath)) {
            alert("Invalid file type, please upload a .csv file");
            document.getElementById("input_file").value = "";
            fileFakePath.value = "";
            return false;
          }
          $("#file_upload_message").html(
            "Please wait for the MOCAP file to download..."
          );
          var originalFileName = fileFakePath.split("\\").pop().split(".")[0];
          var form_data = new FormData($("#upload-file")[0]);
          $.ajax({
            type: "POST",
            url: "http://127.0.0.1:5000/api/v1/csvToBvh",
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function (data) {
              $("#file_upload_message").html("");
              // console.log(data);
              //Convert the Byte Data to BLOB object.
              var blob = new Blob([data], { type: "application/octetstream" });

              //Check the Browser type and download the File.
              var isIE = false || !!document.documentMode;
              if (isIE) {
                window.navigator.msSaveBlob(blob, `${originalFileName}.bvh`);
              } else {
                var url = window.URL || window.webkitURL;
                link = url.createObjectURL(blob);
                var a = $("<a/>");
                a.attr("download", `${originalFileName}.bvh`);
                a.attr("href", link);
                $("body").append(a);
                a[0].click();
                $("body").remove(a);
              }
              window.location.href =
                "http://lo-th.github.io/olympe/BVH_player.html";
            },
          });
        });
      });
    </script>
  </head>
  <body class="m-3">
    <h3>Please upload your input file to generate a MOCAP file</h3>
    <form id="upload-file" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <input
          type="file"
          class="form-control-file"
          id="input_file"
          name="file"
        />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="button" id="upload-file-btn">
          Upload
        </button>
        <p id="file_upload_message"></p>
      </div>
    </form>
  </body>
</html>
